absl-py==2.1.0attrs==23.2.0certifi==2024.7.4charset-normalizer==3.3.2flatbuffers==24.3.25Flask==3.0.3Flask-Cors==4.0.1gunicorn==22.0.0idna==3.7itsdangerous==2.2.0Jinja2==3.1.4MarkupSafe==2.1.5matplotlib==3.9.0mediapipe==0.10.14numpy==1.26.4opencv-contrib-python==4.10.0.84opencv-python==4.10.0.84packaging==24.1protobuf==4.25.3requests==2.32.3six==1.16.0sounddevice==0.5.0urllib3==2.2.2Werkzeug==3.0.3
